name: Check Branch

on: pull_request

jobs:
  check-branch:
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: node -v
      - run: sudo corepack enable
      - run: pnpm install
      - run: pnpm check-branch