on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GIT_ORG_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json